<div>
    <h3>Editar usuário</h3>
</div>
<form class="example-container" [formGroup]="userForm" (ngSubmit)="updateUser(userForm.value)">
    <mat-form-field>
        <input matInput name="name" placeholder="Nome" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="email" placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="cpf" placeholder="CPF" formControlName="cpf">
    </mat-form-field>

    <button type="submit" [disabled]="!userForm.valid" mat-button color="primary">Editar</button>
</form>
