<div>
    <h3>Realizar transferência</h3>
</div>
<form class="example-container" [formGroup]="transferForm" (ngSubmit)="addTransfer(transferForm.value)">
    <mat-form-field class="space" style="width: 250px;">
        <input matInput name="cpfRecipient" class="space" placeholder="CPF destinatário" formControlName="cpfRecipient">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="value" placeholder="Valor" formControlName="value" type="number">
    </mat-form-field>

    <button type="submit" [disabled]="!transferForm.valid" mat-flat-button
        style="background: #E02B57; margin-left: 10px">Transferir</button>
</form>
