.mat-column-name{
    width: 300px;
 }

 .mat-column-email{
    width: 300px;
 }

 .mat-column-cpf{
    width: 150px;
 }

 .mat-column-saldo{
   width: 100px;
}
.mat-column-historic{
   width: 100px;
}
